@charset "UTF-8";

p, li{
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000;
}

h1,h2,h3,h4,h5,h6,title {
    font-family: "Verdana", sans-serif;
    color: #000;
    text-rendering: optimizeLegibility;
    line-height: 0.5em;
    font-weight: 300;
}

img{
    width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 50% 10%;
    gap: 0px 0px;
    grid-template-areas:
    "logo menu menu"
    "body-section body-section body-section"
    "footer footer footer";
}

.logo { grid-area: logo; }

#myName{
    font-size: 50px;
    vertical-align: middle;
    line-height: 50px;
}

.menu { grid-area: menu; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
    color: #D9BC34;
}

li a.active {
    color: white;
    background-color: #D9BC34;
}

.body-section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "."
    ".";
    grid-area: body-section;
}

h2 price{

}

article{
}

.main-picture{
    width: 30%;
    height: auto;
    float: left;
    margin: 0px 15px 15px 0px;
}


* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.gallery::after {
    content: "";
    clear: both;
    display: table;
}



.footer {
    grid-area: footer;
    background-color: #D9BC34;
}

#copyright{
    text-align: center;
    color: white;
}
