@charset "UTF-8";

p, li{
    font-family: "georgia", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000;
}

h1,h2,h3,h4,h5,h6,title {
    font-family: "verdana", sans-serif;
    color: #000;
    text-rendering: optimizeLegibility;
    line-height: 0.5em;
    font-weight: 300;
}

img{
    width: 100%;
    height: auto;
}

a{
    outline: none;
    opacity: 0.9;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}
a:hover a:focus{
    text-decoration: none;
    outline: none;
    opacity: 1;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5% 35% 70% 5%;
    gap: 0px 0px;
    grid-template-areas:
    "logo menu menu"
    "slide-show slide-show slide-show"
    "artikle-section artikle-section artikle-section"
    "footer footer footer";

    background-color: #d2d2d2;
}

.logo {
    grid-area: logo;
}



#myName{
    font-size: 50px;
    vertical-align: middle;
    line-height: 50px;
}

.menu {
    grid-area: menu;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
    color: #D9BC34;
}

li a.active {
    color: white;
    background-color: #D9BC34;
}

.nav-bar{
    margin-right: auto;
}


.slide-show {
    grid-area: slide-show;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: relative;
    width: 100%;
    height: 550px;
    -o-object-fit: cover;
        object-fit: cover;
    -o-object-position: center;
        object-position: center;

    margin-top: 10px;
}


.article-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "article-1 article-2 article-3"
    "article-1 article-2 article-3";
    grid-area: artikle-section;

    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.article-1 {
    grid-area: article-1;

    width: 100%;
    height: 100%;
}

.article-2 {
    grid-area: article-2;
    width: 100%;
    height: 100%;}

.article-3 {
    grid-area: article-3;
    width: 100%;
    height: 100%;
}

.footer {
    grid-area: footer;
    background-color: #D9BC34;
}

#copyright{
    text-align: center;
    color: white;
}
